* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
scroll-behavior: smooth;
}

button {
border: none;
cursor: pointer;
}

body::-webkit-scrollbar {
width: 8px;
display: none;
}

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
}

body::-webkit-scrollbar-thumb {
background-color: whitesmoke;
outline: 1px solid black;
border-radius: 20px;
}

p::-webkit-scrollbar {
width: 4px;
height: 4px;
}

p::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
}

p::-webkit-scrollbar-thumb {
background-color: whitesmoke;
outline: 1px solid black;
border-radius: 20px;
}

div::-webkit-scrollbar {
width: 4px;
height: 2px;
}

div::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, .4);
}

div::-webkit-scrollbar-thumb {
background-color: whitesmoke;
outline: 1px solid black;
border-radius: 20px;
}
body {
width: 100%;
}
.page-transition {
opacity: 0;
transition: opacity 0.5s ease;
}

.page-transition-active {
opacity: 1;
}

.footer {
width: 100%;
height: 2.53rem;
flex-shrink: 0;
background-color: #e76550;
position: absolute;
bottom: 0px;
left: 0px;
margin-bottom: 0;
align-self: flex-start;

}

.copyright2023KoehlerBooks {
color: #eee9e9;
font-size: 14px;
line-height: 29%;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
position: absolute;
left: 0.6944%;
right: 75.6944%;
top: 50%;
bottom: 50%;
text-align: left;
align-items: left;
justify-content: flex-start;
flex-direction: left;
width: max-content;
}
.root {
position: relative;
width: 100%;
height: 120em;
background-color: #fffbf5;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
}


.frame1 {
  position: relative;
  top: 9em;
  width: 100%;
  height: 19em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(131, 33, 44) 0%, #ca4030ff 51%, #f48660ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: visible;
  box-shadow: 0px 4px 34px 8px #e7655066;
  }
  .welcomecontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: fit-content;
  gap: .5em;
  overflow: auto;
  }
  .welcome {
  color: #f4eded;
  font-size: 20px;
  font-family: Gotu, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  margin-top: .7em;
  
  }
  .welcomeBody {
  font-size: 12px;
  width: 50em;
  height: 277px;
  line-height: 1em;
  top: -5em;
  font-family: 'Lato', sans-serif;
  font-weight: 450;
  overflow: auto;
  }

.textBlock {
color: rgb(10, 10, 10);
font-size: 16px;
line-height: 1.5em;
font-family: "Open Sans", system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.245em;
}

.textBlock3 {
color: #000;
font-size: 16px;
line-height: 1.5em;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.245em;
}

.textBlock5 {
color: #000;
font-size: 16px;
line-height: 1.5em;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.245em;
}

.jose {
  max-width: 30%;
  height: 120%;

background-color: transparent !important;

z-index: 99;

}
.booksummary {
display: flex;
flex-direction: column;
transform: translateX(6em);
animation-duration: 400ms;
width: 590px;
height: 600px;
align-items: center;
overflow-y: auto;
padding-left: 3px;
}

.slide_left {
transform: translateX(0em)
}

.textBlock6 {
color: #000;
font-size: 14px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.21em;
}

.textBlock8 {
color: #000;
font-size: 14px;
line-height: 123.5%;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.21em;
}

.textBlock10 {
color: #000;
font-size: 14px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.21em;
}
.joseMercadoVentura {
color: #000;
font-size: 200%;
flex-shrink: 2;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
position: relative;
top: 4em;
align-self: center;
text-shadow: 0px 4px 4px #00000040;
overflow-x: auto;
text-align: center;
}




.middlebody {
position: relative;
display: flex;
justify-content: flex-start;
flex-direction: row;
height: fit-content;
justify-content: center;
gap: 1em;
top: 3em;
flex-shrink: 2;
}

.out_container {
align-items: center;
align-self: center;
justify-self:center;
display: flex;
flex-direction: column;
position: relative;
width: 60em;
left: 0.7em;
top: 10em;
margin-bottom: 2em;
}

.outNow {
color: #000;
font-size: 32px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
width: max-content;

}
.out_now_line {
margin-top: 10px;
width: 10%;
height: 20%;
border: none;
border-bottom: 1.5px solid #000;
animation-duration: .8s;

}

.expand {
width: 100%;
}

.bookcontainer {
display: flex;
flex-direction: column;
width: 25em;
min-width: 15em;
height: fit-content;
transform: translateX(-10em);
animation-duration: 400ms;
align-items: center;
gap: 1em;
flex-shrink: 2;
}

.slide_right {
transform: translateX(0em);
}

.bookcover {
background-color: transparent !important;
outline: solid 1px #000;
outline-offset: -1px;
box-shadow: 0px 1px 2px 2px #00000040;
width: 80%;


}
.queenOfHeaven {
color: #000;
font-size: 22px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
height: fit-content;
margin: 0px;
width: max-content;
}
.ordernow {
border-radius: 19px;
border: 1px solid #000;
background: transparent !important;
width: 256px;
height: 55px;
margin-top: 2em;
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.ordernow:hover{
transform: scale(1.05);
}
.icon {
width: 100%;
height: 100%;
}
.contact_container {
background-color: rgba(180,82,67,0.26);
position: relative;
left: 0;
bottom: 2.53rem;
width: 100%;
height: 286px;
margin-top: 200px;

}

.icon2 {
width: 100%;
height: 100%;
}
.jmercad6GmuEdu {
position: absolute;
left: 833px;
top: 212px;
width: 203px;
height: 32px;
text-align: center;
align-items: center;
justify-content: center;
flex-direction: column;
}

.label {
color: #000;
font-size: 14px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: lowercase;
margin-top: 5px;
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.label:hover {
transform: scale(1.1);
}

.label2 {
color: #000;
font-size: 14px;
line-height: 29%;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: lowercase;
}
.gmail_logo {
overflow: visible;
filter: drop-shadow(0px 4px 4px #00000040);
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.gmail_logo:hover {
transform: scale(1.1);
}

.icon3 {
width: 100%;
height: 100%;
}
.instagram {
color: #000;
font-size: 15px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
width: max-content;
height: max-content;
text-align: center;
align-items: center;
white-space: nowrap;
margin-bottom: 15px;
}
.instagrampic {

overflow: visible;
filter: drop-shadow(0px 4px 4px #00000040);
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.instagrampic:hover {
transform: scale(1.1);
}

.icon4 {
width: 100%;
height: 100%;
}
.email {
color: #000;
font-size: 15px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
width: max-content;
height: max-content;
text-align: center;

}
.contact_text {
color: #000;
font-size: 20px;
font-family: Forum, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
position: inherit;
top: 10px;

text-align: center;
}
.contactline {
transform-origin: bottom left;
position: absolute;
left: 27.5694%;
right: 25.625%;
top: 15.3846%;
bottom: 84.2657%;
max-width: 50%;
max-height: 100%;
border-bottom: solid 1px #000;
margin-bottom: -1px;
transform: matrix(1, 0, 0, 1, 0, 0);
}


.ig_mail_container {
position: relative;
display: flex;
justify-content: space-evenly;
top: 60px;
left: 20px;

}

.igcontainer {
display: flex;
position: relative;
flex-direction: column;
align-items: center;
height: fit-content;

width: fit-content;
}

.mailcontainer {
display: flex;
position: relative;
flex-direction: column;
align-items: center;

width: fit-content;
}

.email {
margin-bottom: 10px;
}

.top_page {
position: fixed !important;
left: 0px;
top: 0px;
width: 100%;
min-width: 550px;
height: 3.3em;
z-index: 999;
text-underline-offset: 35%;
overflow-x: auto;

}
.rectangle3 {
position: absolute;
left: 0;
top: 0px;
background-color: #fffbf5;
height: 50px;
width: 100%;
}
.contact3 {
transform-origin: top left;
color: #000;
font-size: 1.1rem;
line-height: 0;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
margin-top: 1.5em;
width: min-content;
max-width: 100%;
height: min-content;
max-height: 100%;
text-align: center;
align-items: center;
white-space: nowrap;
flex-direction: column;
transform: matrix(1, 0.0092, -0.0092, 1, 0, 0);
transition: ease-in-out 0.25s;
transform: translateY(0);
text-decoration: none;
}

.contact3:hover{
transform: translateY(-4px);
}
.bLOG {
color: #000;
font-size: 1.1rem;
line-height: 0;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
margin-top: 1.5em;
width: min-content;
max-width: 100%;
height: min-content;
max-height: 100%;
text-align: center;
align-items: center;
white-space: nowrap;
transform: matrix(1, 0.0092, -0.0092, 1, 0, 0);
transition: ease-in-out 0.2s;
transform: translateY(0px);
text-decoration: none;
}

.bLOG:hover{
transform: translateY(-4px);
}

.books {
color: #000;
font-size: 1.1rem;
line-height: 0;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
left: 9em;
top: 50%;
bottom: 58.0645%;
width: min-content;
max-width: 100%;
height: min-content;
max-height: 100%;
text-align: center;
align-items: center;
white-space: nowrap;
flex-direction: column;
transition: ease-in-out 0.25s;
transform: translateY(0px);
text-decoration: none;
margin-top: 1.5em;
text-transform: uppercase;
}

.books:hover{
transform: translateY(-4px);
}

.home {
color: #000;
font-size: 1.1rem;
line-height: 0;
font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;
letter-spacing: 0.14em;
text-transform: uppercase;
background-color: transparent;
margin-left: 4em;
margin-top: 1.5em;
bottom: 56.4516%;
width: min-content;
max-width: 100%;
max-height: 100%;
text-align: center;
align-items: center;
white-space: nowrap;
flex-direction: column;
text-decoration: none;
transition: ease-in-out 0.25s;
transform: translateY(0);
}

.home:hover{
transform: translateY(-4px);
}

.toppageflex {
  display: flex;
  gap: 4em;
  min-width: 700px;
}

.instagram2 {
margin-top: .5em;
background-position: center;
margin-left: 50%;
width: 32px;
z-index: 99;
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.instagram2:hover {
transform: scale(1.1);
}

.instagramm {
  margin-top: .5em;
  position: absolute;
  right: 5em;
  background-position: center;
  width: 32px;
  z-index: 99;
  animation-duration: 200ms;
  transition: ease-in-out 0.2s;
  transform: scale(1.0);
  }

.instagramm:hover {
  transform: scale(1.1);
}

.instagram3 {
width: 32px;
height: 32px;
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.instagram3:hover {
transform: scale(1.1);
}

.transparent_background {
background-color: transparent !important;
}
.top_rectangle {
position: absolute;

bottom: 2px;
height: 5.5px;
width: 100%;
min-width: 600px;
background-color: #8f2b38;
z-index: 999;
}

.root2{
position: relative;
width: 100%;
height: 1973px;
background-color: #fffbf5;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: center;
}

.header {
color: #000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-size: 32px;
font-family: "Open Sans", "sans-serif";
font-style: normal;
font-weight: 400;
letter-spacing: 4.48px;
text-transform: uppercase;
position: absolute;
top: 100px;
align-self: center;  
}

.cards{
position: relative;
display: flex;
flex-direction: column;
top: 12%;
align-items: center;
gap: 125px;
width: 100%;
}

.postcard {
position: relative;
display: flex;
justify-content: center;
height: 400px;
width: 55%;
min-width: 25em;
background-color: #fffbf5;
border: 2px solid black;
border-radius: 15px;
box-shadow:  16px 16px 32px #f0ece6,
           -16px -16px 32px #ffffff;
animation-duration: 200ms;
transition: ease-in-out 0.2s;
transform: scale(1.0);
}

.postcardhover {
transform: scale(1.05);
}

.cardrectangle {
position: absolute;
width: 100%;
height: 9px;
background: rgba(112, 21, 32, 0.71);
top: 35px;
border-top: 1.5px solid black;
border-bottom: 1.5px solid black;
}

.post2_image {
position: absolute;
width: 40%;
height: 50%;
align-self: center;
left: 20px;
border: 1px solid black;
}

.post2_text {
position: absolute;
align-self: center;
right: 1em;
width: 50%;
height: 60%;
color: #000;
font-family: "Open Sans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 125%;
letter-spacing: 1.68px;
overflow-y: auto;
}

.post1_image {
position: absolute;
width: 40%;
height: 50%;
align-self: center;
right: 20px;
border: 1px solid black;
}

.post1_text {
position: absolute;
align-self: center;
left: 20px;
width: 50%;
height: 60%;
color: #000;
font-family: "Open Sans";
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 125%;
letter-spacing: 1.68px;
overflow-y: auto;
}

.header1 {
position: absolute;
top: 10px;
}

.header2 {
position: absolute;
top: 10px;
}

.morepost {
color: rgba(167, 99, 99, 0.71);
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 118.5%;
letter-spacing: 2.8px;
text-transform: uppercase;
position: absolute;
bottom: 550px;
align-self: center;
}

.hidden {
opacity: 0;
transition: ease-out 1.25s;
}

.show {
opacity: 1;
}